@page
@model Blog.Pages.Articles.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.LastEditDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.LastEditDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Content)
        </dt>
        <dd class="col-sm-10" >
            @Html.Raw(Model.Article.Content.Replace(System.Environment.NewLine, "<br />"))
        </dd>
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@Model.Article?.Id">Edit</a> |*@
    <a asp-page="./Index">Back to List</a>
</div>

<div>
    <h4>Comments</h4>

    <a asp-page="CreateNewComment" asp-route-articleId="@Model.Article.Id">Create New Comment</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Article.Comments[0].Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Article.Comments[0].LastEditDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Article.Comments[0].Content)
                </th>

@*                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                       asp-route-currentFilter="@Model.CurrentFilter">
                        @Html.DisplayNameFor(model => model.Articles[0].LastEditDate)
                    </a>
                </th>
*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Article.Comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastEditDate)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Content)*@
                        @Html.Raw(item.Content.Replace(System.Environment.NewLine, "<br />"))
                    </td>
                    <td>
                        @if (User.Identity.Name == item.Author || User.Claims.Where(c => c.Type == "IsEditor").Count() > 0)
                        {
                            <a asp-page="./DeleteComment" asp-route-id="@item.Id">Delete</a>
                        }
                    </td>

                </tr>

            }
        </tbody>
    </table>

</div>

