@page
@model Blog.Pages.AppUsers.IndexModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>Users</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserItem.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserItem.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserItem.Access)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserItem.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].HasAdminClaim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].HasEditorClaim)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserItem.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserItem.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserItem.Access)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserItem.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasAdminClaim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasEditorClaim)
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.UserItem.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.UserItem.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.UserItem.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
